
.select-roller {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5em 0.7em 0.9em auto 0.9em 0.7em 0.5em;

    border: 1px solid black;
    
    .selected-item {
        grid-row: 4;
        grid-column: 1;
        text-align: center;

        cursor: pointer;

        border: 1px solid black;
        padding: 2px;
    }

    .select-roller-item {
        grid-column: 1;
        text-align: center;

        //todo figure out how to use calc here ;-)
        &[data-item-grid-index="1"] {
            grid-row: 1;
            font-size: 0.5em;
        }

        &[data-item-grid-index="2"] {
            font-size: 0.7em;
            grid-row: 2;
        }

        &[data-item-grid-index="3"]{
            font-size: 0.9em;
            grid-row: 3;
        }

        &[data-item-grid-index="5"]{
            font-size: 0.9em;
            grid-row: 5;
        }

        &[data-item-grid-index="6"]{
            font-size: 0.7em;
            grid-row: 6;
        }

        &[data-item-grid-index="7"] {
            font-size: 0.5em;
            grid-row: 7;
        }
    }
}